body {

    background: url("../images/tim-gouw-VvQSzMJ_h0U-unsplash (2).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gayathri', sans-serif;
}

label {
    color: white;
}