body {

    background: url("../images/tim-gouw-VvQSzMJ_h0U-unsplash (2).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gayathri', sans-serif;
}

label {
    color: white;
}

.container {
    position: relative;
    width: 100%;
}

#sports-view {
    display: flex;
	flex-wrap: wrap;
    margin-bottom: 30px;
    margin: 30px 30px 0 0;
}